@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fc-daygrid-event-dot-width: 5px;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 1px 1px;
}

.fc-toolbar-title {
    font-size: 1.25em;
    font-weight: lighter;
}

.fc-media-screen {
    height: 90%;
}

.fc-scrollgrid {
    border-radius: 10px;
}

.fc-dayGridMonth-view {
    border-radius: 10px;
}
.fc-theme-standard td {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fc-theme-standard th {
    border-top-right-radius: 10px;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    background-color: #45aeee;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
}
.fc-daygrid-day-number {
    margin: 0% auto;
    margin-top: 4px;
    font-size: 13px;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: white;
}
